@import "src/variables";

.root {
  padding-top: 140px;
  background: $lightBackground;
  min-height: 100vh;
}

.mainTitle {
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}

.back {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  color: black;
  text-decoration: none;

  svg {
    width: 15px;
    transform: rotate(90deg);
    margin-right: 5px;
  }
}

.title {
  font-size: 30px;
}

.tableHead {
  display: flex;
  color: #b0b0b0;
  margin-bottom: 5px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e3e3e3;

  .headTitle {
    display: block;

    &:first-child {
      width: 60%;
    }

    &:nth-child(2) {
      width: 20%;
    }

    &:nth-child(3) {
      width: 15%;
    }
  }
}

.items {
  width: 65%;
  display: inline-block;
  vertical-align: top;
}

.item {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 5px;
}

.info {
  display: flex;
  width: 60%;
  padding-right: 20px;
}

.image {
  width: 200px;
  margin-left: -20px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-size: 25px;
  color: $titleColor;
  font-weight: bold;
  margin-bottom: 5px;
}

.ingredients {
  font-size: 17px;
  color: $textColor;
}

.quantity {
  display: flex;
  align-items: center;
  width: 20%;
}

.minus, .plus {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 1px solid #e3e3e3;
  cursor: pointer;
  color: $titleColor;

  &::selection {
    background-color: transparent;
  }
}

.count {
  margin: 0 10px;
  font-weight: bold;
  color: $titleColor;
}

.price {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  width: 15%;
  color: $titleColor;
}

.remove {
  display: flex;
  align-items: center;
  width: 5%;
  justify-content: flex-end;
  cursor: pointer;

  svg {
    width: 20px;
    height: 20px;

    rect {
      fill: $titleColor;
    }
  }
}

.total {
  position: sticky;
  top: 105px;
  width: calc(35% - 60px);
  margin-left: 60px;
  padding: 20px 20px 10px;
  background-color: #f6f6f6;
  border-radius: 10px;
  display: inline-block;
  margin-top: 30px;
}

.method {
  font-weight: bold;
  font-size: 16px;
  color: $titleColor;
}

.radios {
  display: flex;
  margin: 12px 0 20px;
}

.line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  color: $titleColor;
}

.lineTotal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 25px;
}