$boxShadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.09);

$primaryColor: #fdd520;
$secondaryColor: #FAE178;

$titleColor: #434141;
$textColor: #8e8c8c;

$lightColor: #ececec;

//$lightBackground: #f8f8f8;
$lightBackground: #ffffff;

$headerBackground: #f6f6f6;

$extraExtraLargeDisplay: 1920px;
$extraLargeDisplay: 1600px;
$largerDisplay: 1300px;
$largeDisplay: 1200px;
$mediumDisplay: 1023px;
$smallDisplay: 767px;
$extraSmallDisplay: 479px;
$extraExtraSmallDisplay: 375px;

$errorColor: coral;
$checkbox: '\2714\fe0e';